body{
    text-align: center;
}
.options {
    list-style-type: none;
}
.options li{
    
    display: inline-block;
}
.options button{
    
    display: inline-block;   
}
input {
 text-align: right;   
}

