ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}
        h1{
            color:chocolate;
        }
ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
p,h4{
    font-family: 'Montserrat', sans-serif;
    color: aqua;
    font-size: 20px;
}
body{
    text-align: center;
    background-color:rgb(128,0,0);
}